@()(implicit flash: Flash)

@main(Some("Home"), None) {
    
    @flash.get("error").map { errorMessage =>
        
        <div class="alert-message error">
            <p>
                <strong>Oops!</strong> @errorMessage
            </p>
        </div>
        
    }
        
    <div>
        <p>
            <strong>This is the Play 2.0 Websocket sample application!</strong> 
            To start, choose a username and sign in using the top right form.
        </p>

        <form id="newroomform" method="POST" action="@routes.Application.login" class="form-horizontal">
            <fieldset>
                <legend>Join a Chat Room</legend>
                <label>Username</label>
                <input id="username" name="username" type="text" placeholder="Username" />
                <input id="email" name="email" type="text" placeholder="email" />
                <button class="btn" type="submit">Sign in</button>
            </fieldset>
        </form>
    </div>
    <script>
      $(function() {
        //nothing
      });
    </script>

    
}